<div class="pad13 bgwhite">
    <div class="mainTitleColor fsize15" [innerHtml]="des | safeHtml"></div>
    <ng-container *ngIf="choices && choices.length>0">
      <div class="scoreBox pad_13_t pad_13_b flex item-c">
        <div *ngFor="let item of choices;let index = index;">
          <div class="stars_bg" [ngClass]="{'stars_bg_on':flags[index].flag , 'stars_bg_off':!flags[index].flag}" (click)="changeValue(index)"></div>
        </div>
      </div>
    </ng-container>
    <div class="textBox">选项备注:{{_selectValue}}</div>
  </div>
  