.textBox{
  color: #f97906;
}

.stars_bg{
  margin: 0;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  background-image: url(/static/ng/assets/images/coboVersion3/27.png);
  background-repeat:no-repeat;
  background-size:contain;
}

.stars_bg_on {
  background-image: url(/static/ng/assets/images/coboVersion3/26.png);
}

.stars_bg_off{
  background-image: url(/static/ng/assets/images/coboVersion3/27.png);
}

.scoreBox {
  box-sizing: border-box;
}