.coreContent {
  padding-top: 44px;
  padding-bottom: 200px;
}

.questionDes {
  margin:  10px;
}

.ques-type{
  padding-left: 15px;
}

.headerImage {
  margin:20px auto;
}

.headerImage img {
  width:160px;
  height:110px;
}

.timeOutBlock {
  padding-top: 23px;
  padding-bottom: 23px;
  background: #E6E6E6;
}

.ohter_des {
  margin:12px 20px;
}