<div class="exampage pageBlock pageBgColor pos_r">
  <!-- pc logo -->
  <div class="hd">
    <img src="http://content.cobocn.net/aspftp/upload/home/201602/T1456387816083.png">
  </div>

  <!-- 没有获取任何数据 -->
  <ng-container *ngIf="!_breifInfo">
    <div class="box_padding box-size-b height_100_vh">
      <ng-container>
        <app-loading-animation-page></app-loading-animation-page>
      </ng-container>
    </div>
  </ng-container>

  <!-- 至少加载过一次数据 -->
  <ng-container *ngIf="_breifInfo">

    <div class="main_part">
      <div class="main_c">
        <div class="paper_border">
          <div class="paper_top">
            <div>{{pageTitle}} </div>
            <div class="rat_of_progress">
              <div class="progress_bar"></div>
              <div class="progress_per progress_active" [ngStyle]="{width:progressActive}"></div>
            </div>
          </div>

          <div class=" paper_mid">
            <div class="" *ngIf="_breifInfo">
              <ng-container *ngIf="_breifInfo && _breifInfo.questions && _breifInfo.questions.length>0">
                <ng-container *ngFor="let item of _breifInfo.questions;let index = index;">
                  <div [hidden]="_curr !== index">
                    <ng-container *ngIf=" (item.type === 1 ||  item.type === 2)">
                      <app-question-single-choice [question]="item" [index]="index" [trailType]="'exercise'" [showScore]="_breifInfo.show_score"
                        (change)="changeAnswerMap($event)"></app-question-single-choice>
                    </ng-container>

                    <ng-container *ngIf="(item.type === 3 ||  item.type === 6) ">
                      <app-question-multiple [question]="item" [index]="index" [trailType]="'exercise'" [showScore]="_breifInfo.show_score" (change)="changeAnswerMap($event)"></app-question-multiple>
                    </ng-container>

                    <ng-container *ngIf="item.type === 5 ">
                      <app-question-essay [question]="item" [index]="index" [trailType]="'exercise'" [showScore]="_breifInfo.show_score" (change)="changeAnswerMap($event)"></app-question-essay>
                    </ng-container>

                    <ng-container *ngIf="item.type === 10 ">
                      <app-question-order [question]="item" [index]="index" [trailType]="'exercise'" [showScore]="_breifInfo.show_score" (change)="changeAnswerMap($event)"></app-question-order>
                    </ng-container>

                    <ng-container *ngIf="item.type === 4 ">
                      <app-question-fill-gap [question]="item" [index]="index" [trailType]="'exercise'" [showScore]="_breifInfo.show_score" (change)="changeAnswerMap($event)"></app-question-fill-gap>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <ng-container *ngIf="_breifInfo && _breifInfo.questions">
            <div class="paper_bottom flex item-c justify-a">
              <div class="lineh0 curP" (click)="prevQues()">
                <img src="/static/examv4/assets/images/coboVersion3/skin_paper_previous_zh_CN.png" border="0" alt="上一题 -----">
              </div>
              <div class="lineh0 curP" (click)="nextQues()">
                <img src="/static/examv4/assets/images/coboVersion3/skin_paper_next_zh_CN.png" border="0" alt="下一题">
              </div>
              <div class="lineh0 curP" (click)="confirmSubit()">
                <img src="/static/examv4/assets/images/coboVersion3/skin_paper_submit_zh_CN.png" border="0" alt="交卷">
              </div>
              <div>
                <span>问题： </span>
                <span>{{_curr+1}}</span>
                <span> of </span>
                <span>{{_breifInfo.questions.length}}</span>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>



  </ng-container>
</div>
