.loadingArea {
  padding-top: 21px;
  padding-bottom: 10px;
}

.load_text {
  margin-top: 10px;
  height: 12px;
  font-size: 12px;
  font-family: STHeitiSC-Light;
  font-weight: 300;
  color: rgba(103, 103, 103, 1);
  line-height: 12px;
}
