<div class="pc-page">
  <!-- 没有获取任何数据 -->
  <ng-container *ngIf="!_info">
    <div class="box_padding box-size-b height_100_vh">
      <ng-container>
        <app-loading-animation-page></app-loading-animation-page>
      </ng-container>
    </div>
  </ng-container>

  <!-- 至少加载过一次数据 -->
  <ng-container *ngIf="_info">
    <div class="pc-page-content">
      <!-- header area -->
      <div class="exam-header bgwhite shadow-bottom ">
        <div class=" mg_30_t  mg_30_b">
          <div class=" lineh22 text-c color333 fsize22 singleOver fontB">{{pageTitle}}</div>
        </div>
        <div class="mg_30_t mg_30_b singleOver text-c">
          <div class="progress mga">
            <div class="progress-bar" role="progressbar" [style.width]="progressActive" aria-valuemin="0" aria-valuemax="100">
              {{_progressText}}
            </div>
          </div>
        </div>
      </div>

      <!-- content area -->
      <div class="exam_content">
        <ng-container *ngIf="_info && _info.ques && _info.ques.length>0">
          <ng-container *ngFor="let item of _info.ques;let index = index;">
            <div *ngIf="_curr === index">
              <div *ngIf=" (item.type === 1 ||  item.type === 2)">
                <app-question-choice-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                  [showAnswer]="_info.showAnswer" [showScore]="_info.showValue">
                </app-question-choice-statistics>
              </div>
              <div *ngIf="(item.type === 3 ||  item.type === 6) ">
                <app-question-choice-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                  [showAnswer]="_info.showAnswer" [showScore]="_info.showValue">
                </app-question-choice-statistics>
              </div>
              <div *ngIf="item.type === 5 ">
                <app-question-essay-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                  [showAnswer]="_info.showAnswer" [showScore]="_info.showValue"></app-question-essay-statistics>
              </div>
              <div *ngIf="item.type === 10 ">
                <app-question-order-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                  [showAnswer]="_info.showAnswer" [showScore]="_info.showValue"></app-question-order-statistics>
              </div>
              <ng-container *ngIf="item.type === 4 ">
                <app-question-fill-gap-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                  [showAnswer]="_info.showAnswer" [showScore]="_info.showValue">
                </app-question-fill-gap-statistics>
              </ng-container>
              <div class="bgf pad_13_l pad_13_b">
                <div class="methink reportText curP" (click)="reportAnswerWrong(item.id)">我认为这题不正确</div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <!-- footer area -->
      <div class="exam-footer bgwhite shadow-top">
        <div class="footerRow mga">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary btn-sm" (click)="getBack()">返回</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-sm"  (click)="prevQues()">上一题</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-sm" (click)="nextQues()">下一题</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
