<div class=" exampage pageBlock pageBgColor pos_r">

  <!-- pc logo -->
  <div class="hd">
    <img src="http://content.cobocn.net/aspftp/upload/home/201602/T1456387816083.png">
  </div>


  <!-- 没有获取任何数据 -->
  <ng-container *ngIf="!_info">
    <div class="box_padding box-size-b height_100_vh">
      <ng-container>
        <app-loading-animation-page></app-loading-animation-page>
      </ng-container>
    </div>
  </ng-container>
  <!-- 至少加载过一次数据 -->
  <ng-container *ngIf="_info">
    <div class="main_part">
      <div class="main_c">
        <div class="paper_border">

          <div class="paper_top">
            <div>{{pageTitle}} </div>
            <div class="rat_of_progress">
              <div class="progress_bar"></div>
              <div class="progress_per progress_active" [ngStyle]="{width:progressActive}"></div>
            </div>
          </div>

          <div class=" paper_mid">
            <ng-container *ngIf="_info && _info.ques && _info.ques.length>0">
              <ng-container *ngFor="let item of _info.ques;let index = index;">
                <div [hidden]="_curr !== index">
                  <div *ngIf=" (item.type === 1 ||  item.type === 2)">
                    <app-question-choice-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                      [showAnswer]="_info.showAnswer" [showScore]="_info.showValue">
                    </app-question-choice-statistics>
                  </div>
                  <div *ngIf="(item.type === 3 ||  item.type === 6) ">
                    <app-question-choice-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                      [showAnswer]="_info.showAnswer" [showScore]="_info.showValue">
                    </app-question-choice-statistics>
                  </div>
                  <div *ngIf="item.type === 5 ">
                    <app-question-essay-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                      [showAnswer]="_info.showAnswer" [showScore]="_info.showValue"></app-question-essay-statistics>
                  </div>
                  <div *ngIf="item.type === 10 ">
                    <app-question-order-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                      [showAnswer]="_info.showAnswer" [showScore]="_info.showValue"></app-question-order-statistics>
                  </div>
                  <ng-container *ngIf="item.type === 4 ">
                    <app-question-fill-gap-statistics [question]="item" [index]="index" [trailType]="'exam'" [showRightOrWrong]="_info.showRightOrWrong"
                      [showAnswer]="_info.showAnswer" [showScore]="_info.showValue">
                    </app-question-fill-gap-statistics>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <ng-container *ngIf="_info && _info.ques">
            <div class="paper_bottom flex item-c justify-a">
              <div class="lineh0 curP" (click)="prevQues()">
                <img src="/static/examv4/assets/images/coboVersion3/skin_paper_previous_zh_CN.png" border="0" alt="上一题 -----">
              </div>
              <div class="lineh0 curP" (click)="nextQues()">
                <img src="/static/examv4/assets/images/coboVersion3/skin_paper_next_zh_CN.png" border="0" alt="下一题">
              </div>
              <div>
                <span>问题： </span>
                <span>{{_curr+1}}</span>
                <span> of </span>
                <span>{{_info.ques.length}}</span>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </ng-container>
</div>
