<ng-container *ngIf="choice">
  <div class="flex item-stretch  mainTitleColor">
    
      <!-- 选项描述区域 -->
      <ng-container>
        <div class="voteContent flex">
          <!-- 有图片 -->
          <ng-container *ngIf="choice.imgUrl">
            <div class="lineh0">
              <img [src]="choice.imgUrl" class="rdius img-responsive" (click)="amplifyerImage()" alt="">
            </div>
            <div class="choice-content">
              <span class="wrapper" (click)="changeVote()">
                <img style="width: 16px;height: 16px;" src="/images/check_box/check_box_black.png" alt="" *ngIf="!choice.checked">
                <img style="width: 16px;height: 16px;" src="/images/check_box/check_box_blue.png" alt="" *ngIf="choice.checked">
              </span>
              <div class="fsize12 line5Over height_78 choice_des choice-text" (click)="amplifyerText()">
                <span title="{{choice.des}}" [innerHtml]="choice.des | safeHtml"></span>
              </div>
            </div>
            <ng-container *ngIf="showProgress">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" [style.width]="progressActive"
                    aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="flex">
                <div class=" pad_13_r  vote_box_1 ">{{choice.count || 0}}票</div>
                <div class=" vote_box_2 choice-rate">{{choice.rate || 0 }}%</div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
  </div>
</ng-container>