.subNav {
  background: rgb(255, 255, 255);
}

.backArea {
  position: absolute;
  width: 33px;
  height: 44px;
  padding-top: 13px;
  box-sizing: border-box;
}

.headerText {
  padding-left: 34px;
  padding-right: 34px;
  box-sizing: border-box;
}


