<!-- 错误信息提示 -->
<div class="error" *ngIf="data.status==2 || data.status==1 || data.status==-1">
  <mat-dialog-content>
    <div class="text-c iconBox">
      <i class=" cobo-icon cobo-warning"></i>
    </div>
    <div class="fsize14 text-c">
      <div *ngFor="let item of data.msgs" [innerHTML]="item.msg"></div>
    </div>
  </mat-dialog-content>
</div>

<!-- 普通提示信息 -->
<div class="error" *ngIf="data.status==999">
  <mat-dialog-content>
    <div class="fsize14 text-c pos_r">
      <div *ngFor="let item of data.msgs" [innerHTML]="item.msg"></div>
    </div>
  </mat-dialog-content>
</div>
