<ng-container *ngIf="choice">
  <div class=" item-stretch  mainTitleColor">
    <div class="nopic-content">
      <!-- 没有图片 -->
      <ng-container *ngIf="!choice.imgUrl">
        <div class="no-pic-content">
          <span class="fsize16 line2Over choice_des no-pic-item flex" >
            <span class="wrapper" (click)="changeVote()">
                <img style="width: 16px;height: 16px;" src="/images/check_box/check_box_black.png" alt="" *ngIf="!choice.checked">
                <img style="width: 16px;height: 16px;" src="/assets/images/check_box/check_box_blue.png" alt="" *ngIf="choice.checked">
            </span>
            <div [innerHtml]="choice.des | safeHtml" (click)="amplifyerText()" class="choice-des"></div>
            <div class="choice-count">
                <div class=" pad_13_r vote_box_1 ">{{choice.count || 0}}票</div>
                <div class=" vote_box_2 mr-2">{{choice.rate || 0 }}%</div>
            </div>
          </span>
          <!-- 进度条 -->
          <ng-container *ngIf="showProgress">
              <div class="progress">
                  <div class="progress-bar  progress-bar-striped" role="progressbar" [style.width]="progressActive" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
            <div class="flex item-c justify-b secondaryInfoColor progressBox box-size-b pad_13_t pad_13_b">
              
              <!-- <div class="progreeBar pad_5_r"> -->
              <!-- <mat-progress-bar mode="determinate" value="{{choice.rate || 0}}"></mat-progress-bar> -->
              <!-- </div> -->
              
            </div>
          </ng-container>
        </div>
      </ng-container>

    </div>
  </div>
</ng-container>