<div class="bgwhite" *ngIf="question">
  <div class="pad13 mainTitleColor fsize13 flex item-c separte_line_b">
    <div class="pad_5_r">{{index+1}}.</div>
    <div class="pad_5_r">填空题</div>
    <div class="pad_5_r " *ngIf="showScore">({{question.value || 0}}分)</div>
    <div class="pad_5_r colorr" *ngIf="question.required">(必答)</div>
  </div>
  <ng-container *ngIf="showGroup && ((trailType === 'cycleeva' && question.isGroupNameVisible ) || trailType === 'eva' )  ">
    <div class="pad13 fsize12 secondaryInfoColor separte_line_b" *ngIf="showGroup">
      评估项：{{question.group_name}}
    </div>
  </ng-container>
  <div class="pad13 mainTitleColor fsize15">
    <ng-container *ngIf="question.subs && question.subs.length>0">
      <ng-container *ngIf="question.quesStr">
          <div class="text-l" [innerHtml]="question.quesStr | safeHtml"></div>
      </ng-container>
      <div class="pad_13_t pad_13_b">请在下方填写:</div>
      <ng-container *ngFor="let item of question.subs; let index = index;">
        <ng-container *ngIf="item.type === 'blank' ">
          <div class="flex item-c secondaryInfoColor curP">
            <div class="text-c blankCircle">{{item.inx+1}}</div>
            <div class="mg_20_l flex-grow-1 ">
              <div class="">
                <mat-form-field class="example-full-width flex-width-90">
                  <input matInput placeholder="" class="curP width100 borderR" [(ngModel)]="item.answer" (blur)="changeAnswer()">
                </mat-form-field>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>


</div>
