<div class="bgwhite" *ngIf="question">
    <div class="pad13 mainTitleColor fsize13 flex item-c separte_line_b">
      <div class="pad_5_r">{{index+1}}.</div>
      <div class="pad_5_r">填空题</div>
      <div class="pad_5_r " *ngIf="showScore">({{question.value || 0}}分)</div>
      <div class="pad_5_r colorr" *ngIf="question.required">(必答)</div>
    </div>
    <div *ngIf="trailType === 'cycleeva' || trailType === 'eva'">
      <div class="pad13 fsize12 secondaryInfoColor separte_line_b" *ngIf="showGroup">
        评估项：{{question.group_name}}
      </div>
    </div>
    <div class="pad13 mainTitleColor fsize15">
      <ng-container *ngIf="question.subs && question.subs.length>0">
        <div class="flex flex-wrap">
          <ng-container *ngFor="let item of question.subs">
            <ng-container *ngIf="item.type === 'text' ">
              <div [innerHtml]="item.text | safeHtml"></div>
            </ng-container>
            <ng-container *ngIf="item.type === 'blank' ">
              <div class="flex secondaryInfoColor">
                <div>___</div>
                <div class="text-c blankCircle">{{item.inx+1}}</div>
                <div>___</div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="pad_13_t pad_13_b">请在下方填写:</div>
        <ng-container *ngFor="let item of question.subs; let index = index;">
          <ng-container *ngIf="item.type === 'blank' ">
            <div class="flex item-c secondaryInfoColor curP">
              <div class="text-c blankCircle">{{item.inx+1}}</div>
              <div class="mg_20_l ">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="" class="curP" [(ngModel)]="item.answer" (blur)="changeAnswer()">
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

    
  </div>
  