<div class="bgwhite" *ngIf="question">
  <div class="pad13 mainTitleColor fsize13 flex item-c separte_line_b">
    <div class="pad_5_r">{{index+1}}.</div>
    <div class="pad_5_r">排序题</div>
    <div class="pad_5_r " *ngIf="showScore">({{question.value || 0}}分)</div>
    <div class="pad_5_r colorr" *ngIf="question.required">(必答)</div>
  </div>
  <ng-container *ngIf="showGroup && ((trailType === 'cycleeva' && question.isGroupNameVisible ) || trailType === 'eva' )  ">
    <div class="pad13 fsize12 secondaryInfoColor separte_line_b" *ngIf="showGroup">
      评估项：{{question.group_name}}
    </div>
  </ng-container>
  <div class="pad13 mainTitleColor fsize15" [innerHtml]="question.des | safeHtml"></div>
  <div class="choiceBox color6 pad_13_l  pad_13_r pad_13_b">
    <ng-container *ngIf=" question.choices &&  question.choices.length>0">
      <div class="list-group">
        <div class="flex pad_13_b" *ngFor="let item of question.choices; let index = index;">
          <div class="choice_label text-c flex-shrink-0 label_on">
            <span *ngIf="trailType === 'exam'">{{item.inx | indextochar }}</span>
            <span *ngIf="trailType !== 'exam'">{{item.label}}</span>
          </div>
          <div class="choiceContent flex-grow-1" [innerHtml]="item.des | safeHtml"></div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="trailType === 'cycleeva' || trailType === 'eva' ">
    <ng-container *ngIf="question.choices &&  question.choices.length>0">
      <div class="pad13 separte_line_t">
        <div class=" flex item-c colorw TableTob">
          <div class="flex-grow-1 pad_9_b pad_9_t text-c">选项</div>
          <ng-container *ngFor="let item of  question.choices; let ind = index">
            <div class="flex-grow-1 pad_9_b pad_9_t text-c">N0.{{ind+1}}</div>
          </ng-container>
        </div>
        <ng-container *ngFor="let item of  question.choices;let even = even; let odd = odd;">
          <div class=" flex item-c " [ngClass]="{'bg1':even, 'bg2':odd}">
            <div class="flex-grow-1 pad_5_t pad_5_b text-c">{{item.label}}</div>
            <ng-container *ngFor="let rate of item.rank">
              <div class="flex-grow-1 pad_5_t pad_5_b text-c">
                <span *ngIf="rate > 0">{{rate*100 | number:'1.0-1'}}%</span>
                <span *ngIf="rate === 0">0%</span>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="trailType === 'exam' ">
    <div class="pad13 fsize14 secondaryInfoColor separte_line_t">
      <div *ngIf="showRightOrWrong">
        <span *ngIf="question.score<=0" class="colorr">回答错误</span>
        <span *ngIf="question.score>0" class="colorg">回答正确</span>
      </div>
      <div *ngIf="showAnswer">
        <span>正确答案：</span>
        <span *ngFor="let item of question.correctAnswer">{{item | indextochar }}</span>
      </div>
      <div>
        <span>你的答案：</span>
        <span *ngFor="let item of question.yourAnswer">{{item | indextochar }}</span>
      </div>
    </div>
  </ng-container>

</div>
