<div class="bgwhite" *ngIf="question">
  <div class="pad13 mainTitleColor fsize13 flex item-c separte_line_b">
    <div class="pad_5_r">{{index+1}}.</div>
    <div class="pad_5_r">问答题</div>
    <div class="pad_5_r " *ngIf="showScore">({{question.value || 0}}分)</div>
    <div class="pad_5_r colorr" *ngIf="question.required">(必答)</div>
  </div>
  <ng-container *ngIf="showGroup && ((trailType === 'cycleeva' && question.isGroupNameVisible ) || trailType === 'eva' )  ">
    <div class="pad13 fsize12 secondaryInfoColor separte_line_b" *ngIf="showGroup">
      评估项：{{question.group_name}}
    </div>
  </ng-container>
  <div class="pad13 mainTitleColor fsize15" >
    <ng-container *ngIf="question.des1">
      <div [innerHtml]="question.des1 | safeHtml"></div>
    </ng-container>
    <ng-container *ngIf="!question.des1">
      <div [innerHtml]="question.des | safeHtml"></div>
    </ng-container>
  </div>
  <div class="choiceBox color6 pad_13_l  pad_13_r pad_13_b">
    <textarea name="" onpaste="return false" class="curP" [(ngModel)]="_fibvalue" #inputArea maxlength="1300" (blur)="changeAnswer()" id="" rows="10"></textarea>
    <div class="text-r color9 fsize12">
      {{inputArea.value.length}}/1300
    </div>
  </div>
</div>
